<!doctype html>
<html lang="en">
  <head>
    <title>Flask User Level XP System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <h1>Flask User Level XP System</h1>
    <ul>
      {{ user.username }}:<br />
      Level {{ user.level }}<br />
      {{ user.xp | short_numeric }} / {{ user.get_xp_required() | short_numeric
      }} XP<br />
      <div class="progress-container">
        <!--get current level progress-->
        <progress
          value="{{ user.xp }}"
          max="{{ user.get_xp_required() }}"
        ></progress>
        <div class="progress-text">
          {{ user.get_level_progress() | short_numeric }}%
        </div>
      </div>
      <form
        action="{{ url_for('add_xp', user_id=user.id, amount=1) }}"
        method="post"
      >
        <!--form to add XP-->
        <input type="hidden" name="amount" value="1" />
        <button type="submit">Add XP</button>
      </form>
      {% if user.level >= 3 %}<!--show if user has reached level 3-->
      <form
        action="{{ url_for('add_xp', user_id=user.id, amount=3) }}"
        method="post"
      >
        <!--form to add XP-->
        <input type="hidden" name="amount" value="3" />
        <button type="submit">Add 3 XP</button>
      </form>
      {% endif %} {% if user.level >= 5 %}<!--show if user has reached level 5-->
      <form
        action="{{ url_for('add_xp', user_id=user.id, amount=5) }}"
        method="post"
      >
        <!--form to add XP-->
        <input type="hidden" name="amount" value="5" />
        <button type="submit">Add 5 XP</button>
      </form>
      {% endif %} {% if user.level >= 10 %}<!--show if user has reached level 10-->
      <form
        action="{{ url_for('add_xp', user_id=user.id, amount=10) }}"
        method="post"
      >
        <!--form to add XP-->
        <input type="hidden" name="amount" value="10" />
        <button type="submit">Add 10 XP</button>
      </form>
      {% endif %}
    </ul>
  </body>
</html>
