<!doctype html>
<html lang="en">
  <head>
    <title>Flask User Level XP System</title>
    <link href="../index.css" />
  </head>
  <body>
    <h1>Flask User Level XP System</h1>
    <ul>
      {{ user.username }}:<br />
      Level {{ user.level }}<br />
      {{ user.xp }} / {{ user.xp_required }} XP<br />
      <progress value="{{ user.xp }}" max="{{ user.xp_required }}"></progress>
      <button
        onclick="location.href='{{ url_for('add_xp', user_id=user.id, amount=1) }}'"
      >
        Add XP
      </button>
    </ul>
  </body>
</html>
